* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html {
  font-size: 60.5%;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  height: 5.5rem;
  position: relative;
}

.fa-search {
  color: black;
  font-size: 1.8rem;
}

.submit-btn {
  position: absolute;
  top: 27%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 24rem;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 0.3rem 4.5rem;
  color: black;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

input[type="text"]::placeholder {
  color: black;
}

.random-search {
  display: hidden;
  position: absolute;
  left: 2rem;
  color: black;
  font-size: 15px;
  display: none;
}

.recipe-generator-display {
  position: absolute;
  top: 20%;
  width: 90%;
  margin-left: 10%;
  color: black;
}

.food {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  padding-left: 0.3rem;
}

.recipe-generator {
  font-size: 4rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
